<ng-container
  *ngIf="
    !config.layout.sidepanel.hidden &&
    config.layout.sidepanel.position === 'left'
  "
>
  <seek-sidebar
    name="chatPanel"
    position="left"
    class="chat-panel left-chat-panel"
    [folded]="true"
    [foldedWidth]="70"
    [foldedAutoTriggerOnHover]="false"
    lockedOpen="gt-md"
  >
    <seek-chat-panel></seek-chat-panel>
  </seek-sidebar>
</ng-container>

<div id="main">
  <ng-container *ngIf="config.layout.toolbar.position === 'above'">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </ng-container>

  <div id="container-1" class="container">
    <ng-container *ngIf="config.layout.navbar.position === 'left'">
      <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
    </ng-container>

    <div id="container-2" class="container">
      <ng-container *ngIf="config.layout.toolbar.position === 'below-fixed'">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
      </ng-container>

      <div
        id="container-3"
        class="container"
        seekPerfectScrollbar
        [seekPerfectScrollbarOptions]="{
          suppressScrollX: true,
          updateOnRouteChange: true
        }"
      >
        <ng-container *ngIf="config.layout.toolbar.position === 'below-static'">
          <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>

        <!-- Seek Content -->
        <seek-content></seek-content>
        <!-- /Seek Content -->

        <ng-container *ngIf="config.layout.footer.position === 'below-static'">
          <ng-container *ngTemplateOutlet="footer"></ng-container>
        </ng-container>
      </div>

      <ng-container *ngIf="config.layout.footer.position === 'below-fixed'">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
      </ng-container>
    </div>

    <ng-container *ngIf="config.layout.navbar.position === 'right'">
      <ng-container *ngTemplateOutlet="rightNavbar"></ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="config.layout.footer.position === 'above'">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </ng-container>
</div>

<ng-container
  *ngIf="
    !config.layout.sidepanel.hidden &&
    config.layout.sidepanel.position === 'right'
  "
>

  <seek-sidebar
    name="chatPanel"
    position="right"
    class="chat-panel right-chat-panel"
    [folded]="true"
    [foldedWidth]="70"
    [foldedAutoTriggerOnHover]="false"
    lockedOpen="gt-md"
  >
    <seek-chat-panel></seek-chat-panel>
  </seek-sidebar>

</ng-container>

<seek-sidebar name="quickPanel" position="right" class="quick-panel">
  <seek-quick-panel></seek-quick-panel>
</seek-sidebar>

<ng-template #searchBar>
  <seek-search-bar></seek-search-bar>
</ng-template>

<ng-template #toolbar>
  <seek-toolbar
    *ngIf="!config.layout.toolbar.hidden"
    [searchTmpl]="searchBar"
    [ngClass]="
      config.layout.toolbar.customBackgroundColor === true
        ? config.layout.toolbar.position +
          ' ' +
          config.layout.toolbar.background
        : config.layout.toolbar.position
    "
  >
  </seek-toolbar>
</ng-template>

<ng-template #footer>
  <footer
    *ngIf="!config.layout.footer.hidden"
    [ngClass]="
      config.layout.footer.customBackgroundColor === true
        ? config.layout.footer.position + ' ' + config.layout.footer.background
        : config.layout.footer.position
    "
  >

  </footer>
</ng-template>

<ng-template #leftNavbar>
  <seek-sidebar
    name="navbar"
    class="navbar-seek-sidebar"
    [folded]="config.layout.navbar.folded"
    lockedOpen="gt-md"
    *ngIf="!config.layout.navbar.hidden"
  >
    <seek-navbar
      [variant]="config.layout.navbar.variant"
      class="left-navbar"
    ></seek-navbar>
  </seek-sidebar>
</ng-template>

<ng-template #rightNavbar>
  <seek-sidebar
    lockedOpen="gt-md"
    position="right"
    name="navbar"
    class="navbar-seek-sidebar"
    [folded]="config.layout.navbar.folded"
    *ngIf="!config.layout.navbar.hidden"
  >
    <seek-navbar
      [variant]="config.layout.navbar.variant"
      class="right-navbar"
    ></seek-navbar>
  </seek-sidebar>
</ng-template>
