<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Usuário</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Usuário List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      
      <div class="form-group">
        <label for="role">Role:</label>
        <input [(ngModel)]="filter.role" id="role" name="role" class="form-control">
      </div>
      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../users', 'new' ]" class="btn btn-default">New</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="userList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Sudo</th>
          <th class="border-top-0" scope="col">Email</th>
          <th class="border-top-0" scope="col">Nome</th>
          <th class="border-top-0" scope="col">Sobrenome</th>
          <th class="border-top-0" scope="col">Senha</th>
          <th class="border-top-0" scope="col">Role</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userList" [class.active]="item === selectedUser">
        
          <td>{{item.id}}</td>
          <td>{{item.isSuper}}</td>
          <td>{{item.email}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.password}}</td>
          <td>{{item.role}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../users', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
